html {
    font-family: 'Rubik', sans-serif;
    /* Local */
}


/* @font-face {
    font-family: pristina;
    src: url(./PRISTINA.TTF);
} */

.form-input {
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
}

.text-shadow {
    text-shadow: 1px 1px 2px #000000
}

.baseBrowserHeight {
    height: 768px;
}

.baseBrowserWidth {
    width: 1366px !important;
}

.baseBrowser {
    width: 1366px !important;
    height: 768px !important;
}